body{
    margin: 0;
    padding:0;
    background-color: rgb(3, 187, 3);
}

.app{
    background-color: white;
    width: 20vw;
    height: auto;
    border-radius: 3rem;
    padding: 3rem 3rem;
    margin: 0 auto;
    margin-top: 1rem;
    .task{
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        align-items: center;
        input{
            padding: .5rem;
            border: none;
            background-color: rgba(128, 128, 128, 0.2);
            &:hover{
                cursor: pointer;
            }
        }
        i{
            color: green;
            font-size: 22px;
            &:hover{
                cursor: pointer;
                color: rgb(1, 85, 1);
            }
        }
    }
    .allTasks{
        padding: 1.5rem .0;
        .taskItem{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;
            border-radius: .5rem;
            .check, .fa-check-circle{
                color: gray;
                font-size: 25px;
                &:hover{
                    color: rgb(6, 172, 116);
                    cursor: pointer;
                }
            }
            .fa-check-circle{
                color: green;
            }
            h2{
                font-size: 16px;
                font-family: arial,sans-serif;
            }
            .done{
                color: grey;
                text-decoration: line-through;
            }
            .fa-trash-alt{
                color: gray;
                &:hover{
                    color: rgb(219, 3, 3);
                    cursor: pointer;
                }
            }
            &:hover{
                background-color: rgba(128, 128, 128, 0.1);
            }
        }
    }
}