$main-color: orange;
$secondary-color: grey;
$title-font: 'Oswald', sans-serif ;
$text-font: 'Open Sans', sans-serif ;
body{
    margin: 0;
    padding:0;
    background-color: $main-color   ;
}

.app{
    background-color: white;
    width: 80vw;
    height: auto;
    padding: 3rem 3rem;
    margin: 0 auto;
    margin-top: 2rem;
    .nav{
        display: flex;
        font-family: $title-font;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        box-shadow: 1px 1px 1rem black;
        margin-bottom: 1rem;
    }
    .task{
        display: flex;
        justify-content: space-evenly;
        padding: .5rem 0;
        align-items: center;
        input{
            padding: .5rem;
            border: 1px solid $main-color;
            width: 90%;
            height: 2rem;
            font-size: 20px;
            &:hover{
                cursor: pointer;
            }
        }
        i{
            color: $main-color;
            font-size: 30px;
            &:hover{
                cursor: pointer;
                border: 1px solid $main-color;
                color: white;
                background-color: $main-color;
                border-radius: 1rem;
            }
        }
    }
    .allTasks{
        padding: 1.5rem .0;
        .taskItem{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;
            border-radius: .5rem;
            #h2{
                font-size:1.3rem;
                width: 100%;
                margin-left: 1rem;
            }
            .check, .fa-check-circle{
                color:$secondary-color;
                font-size: 25px;
                &:hover{
                    color: $main-color;
                    cursor: pointer;
                }
            }
            .fa-check-circle{
                color: $main-color;
            }
            h2{
                font-size: 16px;
                font-family: arial,sans-serif;
            }
            .done{
                color: $secondary-color;
                text-decoration: line-through;
            }
            .fa-trash-alt{
                color: $secondary-color;
                font-size: 20px;
                &:hover{
                    color: rgb(219, 3, 3);
                    cursor: pointer;
                }
            }
            &:hover{
                background-color: rgba(128, 128, 128, 0.1);
            }
        }
    }
}